{
    "serverDomain": "collab.domain.com",
    "workerThreads": 10,
    "interactionLimits": {
        "http": 8192,
        "smtp": 8192
    },
    "eventCapture": {
        "localAddress": ["10.x.x.x", "127.0.0.1"],
        "publicAddress": "52.x.x.x",
        "http": {
            "ports": 80
        },
        "https": {
            "ports": 443
        },
        "smtp": {
            "ports": [25, 587]
        },
        "smtps": {
            "ports": 465
        },
        "ssl": {
        "certificateFiles": [
            "/etc/letsencrypt/live/collab.domain.com/privkey.pem",
            "/etc/letsencrypt/live/collab.domain.com/cert.pem",
            "/etc/letsencrypt/live/collab.domain.com/fullchain.pem"
          ]
      }
    },
    "polling": {
        "localAddress": "10.x.x.x",
        "publicAddress": "52.x.x.x",
        "http": {
            "port": 9090
        },
        "https": {
            "port": 9443
        },
  "ssl": {
            "certificateFiles": [
            "/etc/letsencrypt/live/collab.domain.com/privkey.pem",
            "/etc/letsencrypt/live/collab.domain.com/cert.pem",
            "/etc/letsencrypt/live/collab.domain.com/fullchain.pem"
            ]
        }
    },
    "metrics": {
        "path": "somethingrandom",
        "addressWhitelist": ["10.0.0.0/8"]
    },
    "dns": {
        "interfaces": [{
                "name": "ns1",
                "localAddress": "10.x.x.x",
        "publicAddress": "52.x.x.x"
            }],
        "ports": 5353
    },
    "logLevel": "INFO"
}